﻿
<h1 style="text-align:center">Admin Page</h1>

<br />
<div style="display:grid; grid-template-columns: 2fr 1fr;">
    <div style="border-right-style:solid; border-right-color:lightgray; border-right-width:1px; padding-right: 4%;">
        @Html.ActionLink("Users", "Index", "User")<br />
        @Html.ActionLink("Articles", "AdminArticleView", "BlogsArticles")<br />
        @Html.ActionLink("Comments", "Index", "BlogComments")<br />
    </div>

    <div class="form-group center-block text-center">
        <button type="button" onclick="location.href='@Url.Action("SignOut", "User")'" class="btn btn-toolbar" style="margin-left:0;">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign Out
        </button>
    </div>
</div>