﻿<div style="text-align:center; margin-top:5%; margin-bottom:5%;">
    <h4>@Html.ActionLink("Sign In", "Create", "User")</h4>
    <br />
    <p>or</p>
    <br />
    <h4>@Html.ActionLink("Login", "Login", "User")</h4>
    <small class="form-text text-muted">if you already have an account</small>
</div>


