﻿@model BlogDAL.Models.BlogUser

@{
}


<h1 style="text-align:center">My profile</h1>
<div class="form-group">
    <input type="hidden" name="UserId" id="UserId" value="@ViewBag.Id" />
</div>
<br />

<div style="display:grid; grid-template-columns: 2fr 1fr;">
    <div style="border-right-style:solid; border-right-color:lightgray; border-right-width:1px; padding-right: 4%;">
        @{
            Html.RenderAction("ShowAllForOneUser", "BlogsArticles", new { userId = ViewBag.Id });
        }
    </div>

    <div class="form-group center-block text-center">
        <button type="button" onclick="location.href='@Url.Action("CreateArticle", "User")'" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Article
        </button>
        <br /><br />
        <button type="button" onclick="location.href='@Url.Action("SignOut", "User")'" class="btn btn-toolbar" style="margin-left:0;">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign Out
        </button>
    </div>
</div>





