﻿@model IEnumerable<BlogDAL.Models.BlogComments>

@foreach (var item in Model)
{
    <div>
        <b>@Html.DisplayFor(modelItem => item.UserName)</b><br />
        <small><i>@Html.DisplayFor(modelItem => item.CommentCreatedTime)</i></small><br />
        @Html.DisplayFor(modelItem => item.CommentText)
        <hr />
    </div>
    <br />
}