﻿@model BlogDAL.Models.BlogsArticle

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <h2 class="media-heading" style="text-decoration:none; color: black;font-weight:bolder;">@Html.DisplayFor(model => model.Title)</h2>
        <small style="color:cornflowerblue;">@Html.DisplayFor(model => model.Category)</small>
        <div>
            <small>
                @{
                    Html.RenderAction("ViewArticleTags", "BlogsArticles", new { id = Model.Id });
                }
            </small>
        </div>
        <hr />
        @Html.DisplayFor(model => model.Text)

        <hr />
        <small style="color:gray;"><i>Created: @Html.DisplayFor(model => model.Created)</i></small><br />
        <small style="color:gray;"><i>Author: @Html.Action("GetUserNameByUserId", "User", new { userId = Model.UserId })</i></small>

    </div><br />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
