﻿@model BlogDAL.Models.BlogsArticle

@{
    Html.DisplayFor(model => model.Title);
}



<div>
    <h2 class="media-heading" style="text-decoration:none; color: black;font-weight:bolder;">@Html.DisplayFor(model => model.Title)</h2>
    <small style="color:cornflowerblue;">@Html.DisplayFor(model => model.Category)</small>
    <div>
        <small>
            @{
                Html.RenderAction("ViewArticleTags", "BlogsArticles", new { id = Model.Id });
            }
        </small>
    </div>
    <hr />
    @Html.DisplayFor(model => model.Text)

    <hr />
    <small style="color:gray;"><i>Created: @Html.DisplayFor(model => model.Created)</i></small><br />
    <small style="color:gray;"><i>Author: @Html.Action("GetUserNameByUserId", "User", new { userId = Model.UserId })</i></small>

</div>
<br />
<div class="article-comments">
    <h3>Comments</h3><br />
    <hr />
    @{
        Html.RenderAction("ViewArticleComments", "BlogComments", new { id = Model.Id });
    }
</div>


<div style="text-align:center;" class="pull-right">
    <button type="button" onclick="location.href='@Url.Action("CreateComment", "BlogsArticles", new { id = Model.Id })'" class="btn btn-info">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
    </button>
</div>

