﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogDAL.Models.BlogsArticle>
@Styles.Render("~/Content/ArticlesShowStyles.css")
<h1 style="text-align:center">Main</h1>
<br />

<div style="display:grid; grid-template-columns: 2fr 1fr;">

    <div style="border-right-style:solid; border-right-color:lightgray; border-right-width:1px; padding-right: 4%;">
        <div class="center-block">
            @foreach (var item in Model)
            {
                <div class="text-left article-holder" style="background-color:white; width:100%;">
                    <h4 class="media-heading" style="text-decoration:none; color: black;font-weight:bolder;">@Html.ActionLink(item.Title, "Details", new { id = item.Id }) <br /></h4>
                    <small style="color:cornflowerblue;">@Html.DisplayFor(modelItem => item.Category)</small>
                    <div>
                        <small>
                            @{
                                Html.RenderAction("ViewArticleTags", "BlogsArticles", new { id = item.Id });
                            }
                        </small>
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.TextPreview)</p>
                    <small style="color:gray;"><i>Created: @Html.DisplayFor(modelItem => item.Created)</i></small><br />
                    <small style="color:gray;"><i>Author: @Html.Action("GetUserNameByUserId", "User", new { userId = item.UserId })</i></small>
                </div>
                <hr />
            }
        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    
    <div class="article-holder center-block pull-right">
        <form asp-controller="BlogsArticles" asp-action="Index" method="post" style="margin-left:1%;" >
            <div class="form-group row">
                <input type="search" name="SearchString" id="SearchString" class="form-control" />
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary" value="Search">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="searchParameter" id="option1" autocomplete="off" value="title" style="background-color:gray;"> by title
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="searchParameter" id="option2" autocomplete="off" value="tag"> by tags
                    </label>
                </div>
            </div>
        </form>
    </div>

</div>
