﻿@model IEnumerable<BlogDAL.Models.BlogsArticle>

@Styles.Render("~/Content/ArticlesShowStyles.css")

<div class="center-block text-center">
    @foreach (var item in Model)
    {
        <div class="text-left article-holder" style="background-color:white; width: 100%;">
            <h4 class="media-heading" style="text-decoration:none; color: black;font-weight:bolder;">@Html.ActionLink(item.Title, "Details", new { id = item.Id }) <br /></h4>
            <small style="color:cornflowerblue;">@Html.DisplayFor(modelItem => item.Category)</small>
            <div>
                <small>
                    @{
                        Html.RenderAction("ViewArticleTags", "BlogsArticles", new { id = item.Id });
                    }
                </small>
            </div>
            <p>@Html.DisplayFor(modelItem => item.TextPreview)</p>
            <small style="color:gray;"><i>Created: @Html.DisplayFor(modelItem => item.Created)</i></small><br />
            <small style="color:gray;"><i>Author: @Html.Action("GetUserNameByUserId", "User", new { userId = item.UserId })</i></small>
            <br />
            <div style="text-align:center;" class="pull-right">
                <button type="button" onclick="location.href='@Url.Action("Edit", "BlogsArticles", new { id = item.Id })'" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </button>
                <button type="button" onclick="location.href='@Url.Action("Delete", "BlogsArticles", new { id = item.Id })'" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button><br />
            </div>
            <br />

        </div>

    }
</div>

