﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    +380994711334
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:veronikarybka99@gmail.com">veronikarybka99@gmail.com</a><br />
</address>