﻿body{
    margin-top:1%;
}
.article-holder {
    background-color: white;
    margin-bottom: 1%;
    padding: 1%;
    position: relative;
    width:75%;
}

.article-holder a {
    color: black;
    text-decoration: none;
}